@charset "utf-8";
body {
--gap30: 30px;
}
body {
  --c-bg-base: #fff;
  --c-bg-neutral: #f5f4f1;;
  --c-bg-highlight: #dbcce9;
  --c: #333;
  --c-heading: #440088;
  --c-border: darkgray;
  --c-hover: #440088;
  --main-color: #440088;
  --text-link: #0069c2;
  --text-visited: #551a8b;
}
:root,
.dark body {
 --c-bg-base: #333;
 --c-bg-neutral: #222;
 --c-bg-highlight: #604a8d;
 --c: #fff;
 --c-heading: #fff;
 --c-border: mediumpurple;
 --c-hover: #666;
 --main-color: mediumpurple;
 --text-link: #8cb4ff;
 --text-visited: #ffadff;
}
/*style for all of body*/
body{
  margin: 0;
  font-family: "Noto Sans CJK", "游ゴシック", sans-serif;
  color: var(--c);
  background-color: var(--c-bg-neutral);
}
a {
  color: var(--text-link);
  word-wrap: break-word;
}

/*style for header*/
.header {
  padding: 0 10px;
  background: linear-gradient(to left, #c3dab8, 20%, #6a4390);
}
.header-in {
  color: #fff;
  height: 120px;

  display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    text-decoration: none;
    color: #fff;
    font-size: clamp(22px, 4.5vw, 30px);
    font-weight: bold;
}
.svg-logo img {
  box-sizing: border-box;
  background-color: revert;
  height: 60px;
  padding: 10px 0;
}
.footer {
    background-color: var(--c-bg-base);
    margin: var(--gap30) 0 0;
    padding: 0 10px;
}
.footer-in {
    display: flex;
    flex-direction: column;
    gap: var(--gap30);
    padding: var(--gap30) 10px ;
    box-sizing: border-box;
}
.copyright {
}

/**/
.content {
    margin: var(--gap30) 0 0;
    position: relative;
    z-index: 1;
}
.content-in {
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
}
.wrap {
  width: 1190px;
  margin: 0 auto;
}

/*style for main*/
main {
  line-height: 1.6;
  border-radius: 10px;
}
.main {
    width: 770px;
    padding: var(--gap30);
    background-color: var(--c-bg-base);
    box-sizing: border-box;
}
header ul, footer ul{
  list-style: none;
  padding: 0;
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    line-height: 1.25;
    font-weight: bold;
    letter-spacing: .1rem;
}
.article h2 {
  margin: calc(var(--gap30)* 3) 0 var(--gap30) 0;
  background-color: var(--c-bg-base);
  border: 2px solid var(--main-color);
  border-left: 20px solid var(--main-color);
  border-radius: 10px;
  padding: 20px 15px ;
  box-shadow:  0px 0px 10px 0px rgb(0, 0, 0, 0.25);
}
.article h3 {
    border-left: 10px solid var(--main-color);
    border-radius: 5px;
    padding: 10px 0 8px 1em;
}
.u {
  font-weight: bold;
  background: linear-gradient(transparent 60%, var(--c-bg-highlight) 60%);
}
.entry-date {
  display: block;
  margin-bottom: 1.5em;
  font-size: .8em;
  letter-spacing: .2rem;
}
.toc {
    min-height: 20em;
    background-clip: padding-box;
    background-color: var(--c-bg-neutral);
    border: 0;
    border-bottom: 4px double gray;
    border-top: 4px double gray;
    padding: var(--gap30);

    letter-spacing: .1rem;
}
.toc a {
  text-decoration: none;
  color:  var(--c) ;
}
.toc-title {
  display: block;
  text-align: center;
  font-weight: bold;
}
@counter-style pipe {
  system: fixed;
  symbols: "1";
  suffix: "| ";
}
ol {
  list-style: pipe;
}
ol ol {
  list-style: revert;
}
ol li::marker {
  font-weight: bold;
}
/*
ol {
  counter-reset:number;
  list-style: none;
}
li::before {
  counter-increment: number;
  content: counter(number) "| ";
  font-weight: bold;
}
*/
img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  background-color: gray;
  object-fit: cover;
}
svg {
  fill: var(--c);
  vertical-align: inherit;
}
iframe {
  max-width: 100%;
}
.wp-block-image {
  margin: 0;
}
.wp-block-image img {
  box-sizing: border-box;
  display: block;
  margin: auto;
  border: 1px solid gray;
  border-radius: 10px;

  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 50em;
  height: auto;
}

/*style for sidebar*/
.sidebar {
    width: 370px;

    display: flex;
    flex-direction: column;
    gap: var(--gap30);
}
.aside {
  background-color: var(--c-bg-base);
  padding: var(--gap30);
  border-radius: 10px;
}
.aside .list-new-entries {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aside .new-entry {
  position: relative;

  color: #fff;
  text-shadow: #000 0 0 5px;
  font-weight: bold;
  text-decoration: none;
}
.aside .entry-card-thumb img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
.aside .card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  vertical-align: bottom;

  background-color: rgb(0 0 0 / 0.5);

}
.widget-title {
  margin-top: 0;
  margin-bottom: var(--gap30);
  font-size: 1.2em;
  font-weight: bold;
}
.widget_author_box {
    padding: 0 !important;
    text-align: center;
}
.author-box {
  border-radius: 10px;
  overflow: hidden;
}
.author-thum {
    background-image: url(../img/art-370x200.jpg);
    background-size: cover;
    height: 200px;
    margin: 0 0 50px;
    width: 100%;

    object-fit: cover;
}
.avater {
    background-color: dimgray;
    height: 100px;
    object-fit: cover;
    object-position: center;
    width: 100px;

    margin-top: 150px;
    border-radius: 9999px;
}
.author-content {
  padding: var(--gap30);
}
.author-name {
  font-weight: bold;
}
.author-content p {
  margin: 0;
}
.link-icon {
  padding: .4rem;
  text-decoration: none;
}
.author-description {
  margin-top: 30px;
  text-align: left;
}
.colorMode {
  border: 1px solid gray;
  border-radius: 10px;
}
.colorMode legend {
  font-size: small;
  color: gray;
}
.colorMode input {
  appearance: none;
}
.colorMode label {
  font-size: small;
  opacity: 0.5;
}
.colorMode input:checked + label {
  opacity: 1;
}
.colorMode div {
}
.colorMode svg, .colorMode span {
}
.privacy-policy {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: gray;
  font-size: small;
}
/*style for phone*/
@media screen and (max-width: 1210px) {
  .header-in {
    height: 30vw;
  }
  .logo {
    text-align: center;
    font-size: 10vw;
  }
  .header-in small {
    text-align: center;
    font-size: 2.5vw;
  }
  .copyright {
    text-align: center;
  }
  .wrap {
      width: auto;
  }
  .sidebar {
    /*display: none;*/
    width: auto;
    padding-top: 30px;
  }
  .content-in {
    display: block;
  }
  .main {
    width: auto;
  }
}
@media screen and (max-width: 450px) {
  .main {
    padding: 15px;
  }
  .list-home {
    padding: 0;
  }
}

/*style for top page*/
.top-img {
  height: 500px;
  width: 100%;
}
.list-home {
  background-color: transparent !important;
}
.list-title {
  font-size: 16px;
  text-align: center;
}
.list-new-entries {
}
.list-home .new-entry {
  padding: 15px;
  margin-bottom: 15px;
  gap: 15px;
  background-color: var(--c-bg-base);
  border-radius: 10px;
  border: 2px solid var(--c-bg-base);
  color: var(--c);

  display: flex;

  text-decoration: none;
  transition: 0s;
}
.list-home .new-entry:hover {
  border-color: var(--c-hover);
  transition: .1s;
}
.list-home .card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px;
}
.entry-card-thumb {
  margin: 0;
  flex-shrink: 0;
}
.entry-card-thumb img {
  width: 120px;
  height: 120px;

}
