@charset "utf-8";
body {
  --gap30: 50px;
}
body {
  --c-bg-base: #fff;
  --c-bg-neutral: #f5f4f1;;
  --c-bg-highlight: #e8dbf7;
  --c: #333;
  --c-l: dimgray;
  --c-heading: #440088;
  --c-border: darkgray;
  --c-hover: #440088;
  --main-color: #440088;
  --text-link: #0069c2;
  --text-visited: #551a8b;
}
:root,
.dark body {
 --c-bg-base: #333;
 --c-bg-neutral: #222;
 --c-bg-highlight: #604a8d;
 --c: #fff;
 --c-l: darkgray;
 --c-heading: #fff;
 --c-border: mediumpurple;
 --c-hover: #666;
 --main-color: mediumpurple;
 --text-link: #8cb4ff;
 --text-visited: #ffadff;
}
/*style for all of body*/
body{
  margin: 0;
  font-family: sans-serif;
  color: var(--c);
  background-color: var(--c-bg-neutral);
}
a {
  color: var(--text-link);
  word-wrap: break-word;
}
/* 市松模様
body::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(rgb(from var(--c-bg-base) r g b/ 0) 90%,rgb(from var(--c-bg-base) r g b/ 1)),linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%), linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%);
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
  background-color: #FFF;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;  
}
*/
/*
body::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(rgb(from var(--c-bg-neutral) r g b/ 0),rgb(from var(--c-bg-neutral) r g b/ 1)), url(../img/bg+.svg);
  background-repeat: no-repeat;
  /*background-position: center;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100svh;
  fill: #8cb4ff;
}
/*
/**********style for header**************************************************/
.header {
  padding: 0 var(--gap30);
}
.header-in {
  color: #fff;
  height: 120px;
  padding: 0 var(--gap30);
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(to left, #c3dab8, 20%, #6a4390);
  box-shadow:  0px 0px 30px 0px rgb(from #440088 r g b / .25);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  text-decoration: none;
  color: #fff;
  font-size: clamp(22px, 4.5vw, 30px);
  font-weight: bold;
}
.svg-logo img {
  box-sizing: border-box;
  background-color: revert;
  height: 60px;
  padding: 10px 0;
}
.footer {
  background-color: var(--c-bg-base);
}
.footer-in {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.copyright {
  font-weight: bold;  
  color: var(--c-l);
}

/**********style for article area**************************************************/
.content {
  margin: var(--gap30);
  position: relative;
  z-index: 1;
}
.content-in {
  display: flex;
  /*justify-content: space-between;*/
  gap: var(--gap30);
}
.wrap {
  max-width: 1300px;
  margin: 0 auto;
}
.wider {
  max-width: none;
}
/**********style for main**************************************************/
main {
  line-height: 1.8;
  border-radius: 10px;
}
.main {
  /*width: 770px;*/
  padding: var(--gap30);
  background-color: var(--c-bg-base);
  box-shadow:  0px 0px 30px 0px rgb(from #440088 r g b / .25);
  box-sizing: border-box;
  flex-grow: 1;
}
header ul, footer ul{
  list-style: none;
  padding: 0;
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    line-height: 1.25;
    font-weight: bold;
    letter-spacing: .1rem;
}
.article h1 {
  font-size: 1.6em;
}
.article h2 {
  margin: calc(var(--gap30)* 3) 0 var(--gap30) 0;
  background-color: var(--c-bg-highlight);
  border-left: 4px solid var(--main-color);
  border-radius: 10px;
  padding: 20px 15px ;
  /*box-shadow:  0px 0px 10px 0px rgb(0, 0, 0, 0.25);*/
}
.article h3 {
    border-left: 4px solid var(--main-color);
    border-radius: 4px;
    padding: 4px 0 4px 1em;
}
.u {
  font-weight: bold;
  background: linear-gradient(transparent 60%, var(--c-bg-highlight) 60%);
}
.k {
  padding: .1em .3em;
  margin: 0 .2em;
  border: 1px solid var(--c-border);
  border-radius: 5px;
  box-shadow:  0px 0px 5px 0px rgb(0, 0, 0, 0.5);

  font-weight: bold;
}
.c {
  padding: .1em .2em;
  margin: 0 .2em;
  border-bottom: 2px solid var(--c-bg-highlight);
  font-weight: bold;
}
.c::after {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: top;
  background-image: url(../img/arrow_selector_tool_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
  fill: var(--c);
  stroke: var(--c);
}
.entry-date {
  display: block;
  margin-bottom: var(--gap30);
  font-size: .8em;
  font-weight: bold;
  color: var(--c-l);
  letter-spacing: .2rem;
}
.toc {
  min-height: 20em;
  background-clip: padding-box;
  background-color: var(--c-bg-neutral);
  border: 1px solid var(--c-border);
  border-radius: 10px;
  padding: var(--gap30);
  
  letter-spacing: .1rem;
}
.toc a {
  text-decoration: none;
  color:  var(--c) ;
}
.toc li {
  border-bottom: 0px solid gray;
  margin-bottom: .1em;
}
.toc li li {
  border: none;
}
.toc-title {
  display: block;
  font-size: large;
  margin-bottom: var(--gap30);
  text-align: center;
  font-weight: bold;
}
@counter-style pipe {
  system: fixed;
  symbols: "1";
  suffix: "| ";
}
.toc ol {
  list-style: pipe;
}
.toc ol ol {
  list-style: revert;
}
ol li::marker {
  font-weight: bold;
}
/*
ol {
  counter-reset:number;
  list-style: none;
}
li::before {
  counter-increment: number;
  content: counter(number) "| ";
  font-weight: bold;
}
*/
/**********AdSense**************************************************/
.ad_rectangle {
  margin: 1em 0;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;;
}
/**********Content**************************************************/
img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  background-color: gray;
  object-fit: cover;
}
svg {
  fill: var(--c);
  vertical-align: inherit;
}
iframe {
  max-width: 100%;
}
.wp-block-image {
  display: block;
  margin: 0;
  margin-top: 1em;
  margin-bottom: var(--gap30);
  text-align: center;
  text-decoration: none;
}
.wp-block-image img {
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
  box-shadow:  0px 0px 10px 0px rgb(0, 0, 0, 0.5);

  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 50em;
  height: auto;
}
.history {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1em;
}
/**********style for sidebar**************************************************/
.sidebar {
  flex-shrink: 0;
  width: 370px;

  display: flex;
  flex-direction: column;
  gap: var(--gap30);
}
.aside {
  background-color: var(--c-bg-base);
  box-shadow:  0px 0px 30px 0px rgb(from #440088 r g b / .25);
  padding: var(--gap30);
  border-radius: 10px;
}
.aside .list-new-entries {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aside .new-entry {
  position: relative;
  overflow: hidden;

  color: #fff;
  text-shadow: #000 0 0 5px;
  font-weight: bold;
  text-decoration: none;
}
.aside .entry-card-thumb {
  overflow: hidden;
  border-radius: 10px;
}
.aside .entry-card-thumb img {
  width: 100%;
  height: 180px;
  transition: .2s;
}
.aside .new-entry:hover
.entry-card-thumb img {
  transform: scale(1.1);
  transition: .2s;
}
.aside .card-title {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;

  padding: .5em;
  border-radius: 0 0 10px 10px;

  background: linear-gradient(to top, rgb(0 0 0 / .5) 80%, rgb(0 0 0 / 0));
}
.widget-title {
  margin-top: 0;
  margin-bottom: var(--gap30);
  font-size: 1.2em;
  font-weight: bold;
}
.widget_author_box {
    padding: 0 !important;
    text-align: center;
}
.author-box {
  border-radius: 10px;
  overflow: hidden;
}
.author-thum {
    background-image: url(../img/art-370x200.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 0 0 50px;
    width: 100%;

    object-fit: cover;
}
.avater {
    background-color: dimgray;
    height: 100px;
    object-fit: cover;
    object-position: center;
    width: 100px;

    margin-top: 150px;
    border-radius: 9999px;
}
.author-content {
  padding: var(--gap30);
}
.author-content ul {
  font-size: small;
}
.link-icon {
  padding: .4rem;
  text-decoration: none;
  transition: .2s;
}
.link-icon:hover {
  opacity: 0.75;
  transition: .2s;
}
.author-description {
  margin-top: 30px;
  text-align: left;
}
.colorMode {
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 10px;
}
.colorMode legend {
  font-size: small;
  color: var(--c-l);
}
.colorMode input {
  appearance: none;
  margin: 0;
}
.colorMode label {
  padding: .3rem;
  font-size: small;
  border-radius: 5px;
  opacity: 0.7;
  
  display: inline-flex;
  gap: .2rem;
}
.colorMode input:checked + label {
  opacity: 1;
  background-color: var(--c-bg-highlight);
}
.privacy-policy {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: var(--c-l);
  font-size: small;
}

/**********style for mobile**************************************************/
@media screen and (max-width: 1210px) {
  .logo {
    text-align: center;
    font-size: 10vw;
  }
  .header-in small {
    display: none;
  }
  .copyright {
    text-align: center;
  }
  .wrap {
    width: auto;
  }
  .sidebar {
    /*display: none;*/
    width: auto;
    padding-top: 30px;
  }
  .content-in {
    display: block;
  }
  .main {
    background-color: transparent;
    box-shadow: none;
    padding: 5px;
  }
  .article h2 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px) {
  body {
    --gap30: 15px;
  }
  .list-home {
    padding: 0;
  }
}

/**********style for top page**************************************************/
.top-img__wrapper {
  position: relative;
  margin: 0 var(--gap30);
}
.top-img {
  display: block;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  height: 500px;
  width: 100%;
  box-shadow:  0px 0px 30px 0px rgb(from #440088 r g b / .25);
}
.list-home {
  background-color: transparent !important;
  box-shadow: none;
  padding: 0;
}
.list-title {
  margin-top: 0;
  margin-bottom: var(--gap30);
  letter-spacing: .1rem;
  font-size: 1.6em;
}
.list-home .new-entry {
  padding: 15px;
  margin-bottom: 15px;
  gap: 15px;
  background-color: var(--c-bg-base);
  border-radius: 10px;
  border: 2px solid var(--c-bg-base);
  box-shadow:  0px 0px 30px 0px rgb(from #440088 r g b / .25);
  color: var(--c);

  display: flex;

  text-decoration: none;
  transition: 0s;
}
.list-home .new-entry:hover {
  border-color: var(--c-hover);
  transition: .1s;
}
.list-home .card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px;
}
.entry-card-thumb {
  margin: 0;
  flex-shrink: 0;
}
.entry-card-thumb img {
  border-radius: 5px;
  height: 120px;
  aspect-ratio: 16 / 9;
}
@media screen and (max-width: 450px) {

  .entry-card-thumb img {
    aspect-ratio: 1;
  }
}
